@font-face {
  font-family: KarlaRegular;
  src: url(fonts/Karla/static/Karla-Regular.ttf);
}
@font-face {
  font-family: KarlaBold;
  src: url(fonts/Karla/static/Karla-Bold.ttf);
}
@font-face {
  font-family: KarlaThin;
  src: url(fonts/Karla/static/Karla-ExtraLight.ttf);
}

body,
main {
  display: flex;
  width: 100%;
  height: 100svh;
  background-color: hsl(204, 43%, 93%);
}

article {
  display: grid;
  grid-template-rows: 216px 259px;
  grid-template-columns: 317.5px 317.5px;
  grid-template-areas:
    "header header"
    "two three";
}
h1 {
  color: hsl(179, 62%, 43%);
  font-size: 22.2px;
  margin-top: 40px;
  font-family: KarlaBold;
  font-weight: bolder;
}
button {
  background-color: hsl(71, 73%, 54%);
  color: white;
  font-family: KarlaRegular;
  font-size: 15px;
  border: none;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 237px;
  height: 50px;
  margin: auto;
  cursor: pointer;
}
.cardholder {
  display: grid;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 25px grey;
}
#greentext {
  color: hsl(71, 73%, 54%);
  font-size: 17px;
  font-family: KarlaBold;
  margin-top: 25px;
}
.top {
  background-color: white;
  grid-area: header;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.bottomleft {
  background-color: hsl(179, 62%, 43%);
  grid-area: two;
  border-bottom-left-radius: 10px;
}
.bottomright {
  background-color: hsl(179, 56%, 53%);
  border-bottom-right-radius: 10px;
  grid-area: three;
}
#p-top {
  color: hsl(218, 22%, 67%);
}

h1,
h2,
button,
#p-top,
#greentext,
#sub,
#price,
#PBL,
#PBR {
  margin-left: 38px;
}
p {
  font-family: KarlaRegular;
  line-height: 1.5;
  margin-top: 2px;
}
#PBR,
#PBL,
#price,
h2 {
  font-family: KarlaRegular;
  color: white;
}
.dollartag {
  font-size: 200%;
}
sup {
  color: hsl(197, 7%, 80%);
  font-size: 16px;
  font-family: KarlaThin;
}
#sub,
#FAQ {
  font-size: 15px;
  margin-top: 41px;
}
#PBR {
  font-family: KarlaThin;
  line-height: 19.5px;
}
